Flask==0.10.1
Flask-Assets==0.11
Flask-WTF==0.12
gunicorn==19.4.5
cssmin==0.2.0
click==6.2
nose==1.3.7


# Optional Requirements
# Everything below this line will only get installed on dev enviroments
Fabric==1.10.2
flake8==2.5.1
pylint==1.5.1
ipython==4.0.1
ipython-genutils==0.1.0
ipdb==0.8.1
