{% extends "base.j2" %}
{% block title %}Homepage{% endblock %}
{% block main %}
    <h1>Hi, I'm Ben. </h1>
    <p class="lead">
    I am an engineer who likes data, coffee, walking, agriculture, traveling, and lots of other stuff.  I have designed and implemented web services, and I enjoy dabbling with new technologies.
    </p>
    Technologies I like:
    <ul>
        <li>Linux</li>
        <li>Bash</li>
        <li>Vim</li>
        <li>Git</li>
        <li>Python</li>
        <li>Flask</li>
        <li>scikit-learn</li>
        <li>Celery</li>
        <li>JavaScript</li>
        <li>PostgreSQL</li>
        <li>Redis</li>
        <li>CoreOS</li>
        <li>Haskell</li>
        <li>xmonad</li>
        <li>AWS</li>
    </ul>
    <p class="lead">
        You can check me out on <a href="https://github.com/johnbenjaminlewis">Github</a>.
    </p>
{% endblock %}
