{% extends "base.j2" %}
{% block title %}Hi {{ name }}{% endblock %}
{% block main %}
    <h1>Hi {{ name }}!!!!!!!! </h1>
    <p>I think I should add some CSS here. This is kinda Ugly</p>
{% endblock %}
